{
  "local":{
  },
  "sandbox":{
    "client_id":"dkjas2lj-efb1-223j-b074-dlak24sjldka",
    "client_secret":"dd23658d-dasd-4cce-beec-b92c353fde8e",
    "api_key":"0338f061-0332-d445-4832-b352d224226a",
    "api_secret":"2x3fdbe2-h2kd-djs2-vvlw-295ds23322sf",
    "corporate_id":"BCAAPI2016",
    "account_number":"0201245680"
  },
  "production":{
  }
}